<h1 class="mt-4 mb-3">
    {{ Model.ContentItem.DisplayText }}
    <small>{{ Model.Content.HtmlBodyPart | shape_render }}</small>
</h1>

{% shape_remove_item Model.Content "HtmlBodyPart" %}

{% shape_remove_item Model.Content "Blog-Image" %}

{{ Model.Content | shape_render }}